* {
  margin:0;
  padding:0;
  box-sizing: border-box;
 }

html, body {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

body {
    font: 15px/18px "Roboto", Helvetica, sans-sefif;
    font-weight: 300;
}

.col-container {
  display: flex;
  width: 100%;
  align-items: stretch;
}


.app-header {
  height: 50px;
  line-height: 50px;
}

.toggle-sidebar {
    display: inline-block;
    margin-right: 10px;
}


.sidebar {
  position: absolute;
  left: 0;
  top:50px;
  bottom:0;
  height: 100%;
  z-index: 100;
  transition: all .3s ease-in-out;
  transform: translateX(-100%);
}


body.menu-in .sidebar {
  width: 300px;
  transform: translateX(0);
}

.filter input[type="text"] {
    background: transparent;
    border: none;
    padding: 10px 20px;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    transition: all .15s ease-in-out
}


.filter input[type="text"]:focus,
.filter input[type="text"]:not(:placeholder-shown) {
    background: #fff;
    border: none;
    padding: 10px 20px;
    max-width: 100%;
    box-sizing: border-box;
}

.placesList {
  max-height: calc(100vh - 130px);
}

.placesList ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.placesList .place-item {
    cursor:  pointer;
    outline: none;
}

.placesList .place-item:focus,
.placesList .place-item:hover {
    background: rgba(255,255,255,.10)
}

.placesList .place-item .place-link {
  line-height: 32px;
  color: white;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.map {
  flex: 1;
  position: relative;
}


@media screen and (min-width: 768px) {
  .sidebar {
    position: static;
    width: 300px;
    height: auto;
    transform: translateX(0);
  }

  .toggle-sidebar {
    display: none;
  }
}
