.app-header {
	height: 45px;
}

.maincontent {
	padding-top: 10px;
}

#map {
  width: 930px;
  margin: 0 auto;
  height: 50vh;

}

.container {
	width: 930px;
}


.filter-options .filter-item {
	padding: 0 20px;
	width: 445px;
}

#restaurants-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#restaurants-list .restaurant-item {
	width: 460px;
	display: inline-block;
}


.inside .maincontent {
	display: flex;
	position: relative;
}
